#header-top {
  background-color: azure;
  color: white;
}
#my-name {
  font-size: 3.3rem;
  padding-left: 10rem;
}
#my-ul {
  float: left;
  font-size: 1.5rem;
}
#header-bottom {
  height: 15vh;
  color: blue;
  background-image: url("/Assets/Images/cool-background.png");
  background-size: 100%;
  text-align: center;
  padding: 5rem;
}

.title {
  background-color: aliceblue;
  border-right: cornflowerblue;
  border-right: solid;
  padding-top: 5rem;
}
main {
  margin-top: 0.5rem;
}
.info {
  overflow: scroll;
  background-color: aliceblue;
  padding-left: 5rem;
  padding-top: 3rem;
}

#my-bio-image {
  border-radius: 0.5rem;
}
#my-bio {
  padding-top: 3rem;
  font-size: 1.5rem;
}
main h2,
footer h2 {
  text-align: right;
}
#about-me {
  height: 20vh;
}
#my-projects {
  height: 50vh;
  margin-top: 0.5rem;
}
#horiseon-project-button {
  position: relative;
  left: 1rem;
  top: -3rem;
}
.show-mini {
  height: 200px;
  width: 350px;
}
.show-mini-button {
  position: relative;
  right: 21rem;
  top: 4.8rem;
}
#mini-projects {
  margin-top: 0.5rem;
}

footer #contact-me {
  margin-top: 0.5rem;
  height: 10vh;
  background-image: url("/Assets/Images/cool-background.png");
  background-size: 100%;
  text-align: center;
  padding-top: 5rem;
  font-size: 1.5rem;
  display: inline;
  color: blue;
}
footer li {
  display: inline;
  padding-left: 3rem;
  padding-right: 3rem;
  text-decoration: none;
}

button {
  border-radius: 0.4rem;
}
button:hover {
  background-color: blue;
  color: white;
}
footer a {
  color: blue;
}
